<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistik</title>
    <link rel="stylesheet" href="/static/styles/statistik.css">
</head>
<body>
    <div class="stats-conteiner">
        <h1>Deine Statistik:</h1>
        <div class="daten">
            <p>HP: {{ .Health}}</p>
            <p>Damage: {{ .Damage}}</p>
            <p>Gold: {{ .Money}}</p>
        </div>
        <div class="buttons">
            <a href="/">Auf Home Page</a>
            <a href="/equipment">Ausrüstung</a>
            <a href="/activities">Aktivitäten hinzufügen</a>
        </div>
    </div>
</body>
</html>